.ml-5 {
  margin-left: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.done {
  color: silver;
  text-decoration: line-through;
}

nav, .page-footer{
  background: rgb(0, 31, 143);
}
input[type='date'].disabled::-webkit-inner-spin-button {
  display: none;
}

.content {
  overflow: auto;
  height: 500px;
  max-height: 500px;
}
.container{
  border: 4px solid #001f8f;
  margin-top: 30px;
  padding: 10px;
}

.footer-copyright{
  text-align: center;
}